* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: #01040a;
}
a {
    text-decoration: none;
}
.margen-interno{
    padding: 0px 50px;
}
.padre {
    display: flex;
    flex-flow: column nowrap;
}

    .header {
        background: url(imagenes/bg-2.webp);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu {
            background: rgba(0, 0, 0, .4);
            display: flex;
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;
            border-bottom: solid 1px #fff;
        }
            .logo {
                flex: 1 1 auto
                
            }
                .logo a{
                    color: #fff;
                    font-size: 30px;
                }
                .logo a:hover{
                    color: #51c2d5
                }
            .nav-menu{
                flex: 5 1 auto
            }
                .nav-menu a{
                    color:#fff;
                    font-size: 11px;
                    text-transform: uppercase;
                    padding: 0 10px;
                    letter-spacing: 2px;
                }
                .nav-menu a:hover{
                    color: #51c2d5
                }
            .rrss {
                flex: 1 1 auto;
                display: flex;
            }
                .rrss a{
                    color:#fff;
                    font-size: 15px;
                    padding: 0 5px;
                }
                .rrss a:hover{
                    color: #51c2d5
                }

    .texto-principal {
        height: 580px;
        display: flex;
        align-items: center;
    }
        .titulo{
            font-family: "lora" serif;
            font-size: 20px;
            color: #fff;
            font-weight: 400;
            text-align: center;
            line-height: 1.6;
        }

    .section {
        background: #01040a;
        display: flex;
        margin-bottom: 10px;
        border-top: solid 1px rgba(255, 255, 255, .5)
    }
        .articulos{
            background: #01040a;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
            width: 80%;
        }
            .article{
                flex: 1 1 40%;
                color: #51c2d5;
                font-size: 14px;
                letter-spacing: 1px;
                background: #0a0f1a;
                margin: 10px 10px 0 0px;
                flex: 1 1 45%;
            }
            .article img{
                   width: 100%
                }
            .article a{
                color: #51c2d5;
                font-size: 12px;
                padding: 10px;
                background: #01040a;
                border-radius: 10px;
                margin: 10px 0;
                display: inline-block;
            }
            .article a:hover{
                color: #01040a;
                background: #51c2d5;
            }
            h3{
                color: #01040a;
                font-size: 14px;
                padding: 10px 0;
                margin-top: -80px;
            }
            h2{
                color: #01040a;
                font-size: 24px;
                text-transform: uppercase;
                padding: 0px 0 10px 0;
            }
                
            .navegacion{
                background: #51c2d5;
                flex: 1 1 100%;
                margin: 10px 10px 0 0px;
            }
                .navegacion a{
                    color: #01040a;
                    font-size: 12px;
                    font-weight: bold;
                    text-transform: uppercase;
                    padding: 0 10px;
                    letter-spacing: 2px;
                }
                .navegacion a:hover{
                    font-size: 14px;
                }
        .aside{
            /*background: #c64756;*/
            flex: 1 1 auto;
            margin: 10px 5px 10px 5px;
            padding: 5px;
            width: 20%;
        }
            
            .aside img{
                width: 100%;
            }
            h4{
                color: #01040a;
                background: #51c2d5;
                text-transform: uppercase;
                padding: 10px;
            }
            
    .footer {
        background: #01040a;
        display: flex;
        justify-content: center;
        border-top: solid 1px #51c2d5;
        padding: 5px;
        /*margin-top: 10px*/
    }
        .pie{
            background: #01040a;
            display: flex;
            text-align: center;
            align-items: center;
        }
            .pie a{
                color: #51c2d5;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 2px;
                padding: 0 10px;
            }
            .pie a:hover{
                color: #fff;
            }


@media all and (max-width: 1080px ){
    .section{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        margin-left: -6.5px;
        width: 80%;
        display: flex;
    }
    .titulo{font-size: 16px;}
    .texto-principal {height: 450px;}
}
@media all and (max-width: 935px){
    .articulos{flex-direction: column;}
}

@media all and (max-width: 650px){
    .aside{
        margin-left: -6.5px;
        width: 80%;
        display: flex;
        flex-direction: column;
    }
}

@media all and (max-width: 632px){
    .nav-menu a{font-size: 24px;}
    .texto-off{display: none;}
}
@media all and (max-width: 490px){
    .aside{flex-direction: column;}
}